{
  "log": {
    "_recordingName": "PolyEval",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "7bb33254908eca8fb93614148b7f4165",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "query",
              "value": "query{allSubjects(name_startsWith:\"Hist\"){Subjects{name}}}"
            }
          ],
          "url": "https://mylibrary.io/graphql-public?query=query%7BallSubjects%28name_startsWith%3A%22Hist%22%29%7BSubjects%7Bname%7D%7D%7D"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 58,
            "text": "{\"data\":{\"allSubjects\":{\"Subjects\":[{\"name\":\"History\"}]}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"3a-+28KPyn24lCLjIUeBTP3YvJH12Q\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 175,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
